.breadcrumbs
  margin 0
  padding 0

.breadcrumbs a:link, a:visited
      text-decoration none
      color #707070
	  
.breadcrumbs a.active, a.active:hover
      background #46c765
      border-color #46c765
      color #fff
    
.breadcrumbs a:hover
      color #46c765
