.nav
  margin 0
  padding 20px
  background #105d3b

  &__item
    padding 0 10px  
	
.nav a:link, .nav a:visited
      text-decoration underline dotted
      color #d1d1d1
	  
.nav a.active, .nav a.active:hover
      background #46c765
      border-color #46c765
      color #fff
    
.nav a:hover
      color #46c765

	  